{
  parser: "babel-eslint",
  "extends": "airbnb",
  "eslintConfig": {
	"env": {
			"browser": true,
			"node": true
		}
	},
	"globals": {
        "window": true,
        "document": true,
        "describe": true,
        "it": true,
        "chai": true,
        "expect": true,
    },
  "rules": {
  	"linebreak-style": "off",
  	"import/no-extraneous-dependencies": "off",
  	"import/extensions": "off",
  	"import/no-unresolved": off,
  	"no-tabs": "off",
  	"react/jsx-indent": [2, 'tab'],
  	"react/jsx-indent-props": [2, 'tab'],
  	"indent": [2, 'tab'],
    "react/react-in-jsx-scope": "off",
  }
}